.contador {
  display: flex;
  align-items: center;
  justify-content: center;

  .contenedor-contador {
    display: flex;
    align-items: center;
    justify-content: center;

    .col {
      p {
        font-weight: bold;
        font-size: 4.5rem;
        color: $app-2;
        margin-bottom: -8px !important;

        @include phone {
          font-size: 2rem;
        }
      }

      text-align: center;
      padding: 0.7rem;
      display: flex;
      flex-flow: column;
      color: #fff;
      text-transform: uppercase;
    }
  }
}