@import "libs/mixins";
@import "libs/variables";
@import "libs/type";

@import "components/formulario";

@import "components/NavBar";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.app {
  position: relative;
}
a {
  text-decoration: none !important;
}

body {
  background-color: $app-1 !important;
  background-image: url("/img/background-star.png");
  background-position: top;
  background-size: fill;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.App {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-sizing: border-box;
  padding: 1rem;
}
.start {
  
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-sizing: border-box;
  padding: 7rem 1rem;
  position: relative;

  min-height: 86vh;
  .navbar {
    display: none !important;
  }
  @include phone {
    padding: 50px 0 0 0 !important;
  }
}
.img-hero,
.img-inicio {
  width: 100%;
  height: auto;
  max-width: 542px;
  @include phone {
    max-width: 280px !important;
  }
}

.img-hero2,
.img-inicio2 {
  width: 100%;
  height: auto;
  max-width: 464px;
  @include phone {
    max-width: 280px !important;
  }
}

.btn-primary {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  color: $app-1 !important;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;

  background-color: $app-2 !important;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #1b1464 !important;
    color: #fff !important;
  }
}

.btn-lang {
  cursor: pointer;
  border: none;
  background-color: #1b1464;
  padding: 0.2rem 0.4rem;
  text-transform: uppercase;

  font-weight: bold;
  font-size: 12px;
  margin: 1rem;
  color: #fff;
  border-radius: 6px;
  border: 0.6px solid $app-2;
  transition: all 0.2s ease-in-out;
  li &:hover {
    background-color: $app-2;
    color: $app-1 !important;
  }
}
.btn-secondary {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: $app-1 !important;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: #fff;

  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $app-2 !important;
    color: rgb(3, 5, 126) !important;
  }
}
.contador {
  display: flex;
  align-items: center;
  justify-content: center;

  .contenedor-contador {
    display: flex;
    align-items: center;
    justify-content: center;

    .col {
      p {
        font-weight: bold;
        font-size: 4.5rem;
        color: $app-2;
        margin-bottom: -8px !important;
        @include phone {
          font-size: 3rem;
        }
      }
      text-align: center;
      padding: 0.7rem;
      display: flex;
      flex-flow: column;
      color: #fff;
      text-transform: uppercase;
      @include phone {
        span {
          font-size: 0.75rem !important;
        }
      }
    }
  }
}
.login {
  h1 {
    color: #fff;
  }
  .contenedor-login {
    background-color: #ffd12f;
    max-width: 420px;
    border-radius: 16px;
    padding: 2rem 2rem;
    margin: 1rem;
    width: 100%;
    .formulario {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      @include phone{
        width: auto !important;
      }

      .form-grupo {
        font-weight: bold;
        text-transform: uppercase;

        label {
          margin-bottom: 0.6rem;
          font-family: Arial, Helvetica, sans-serif;
        }

        input {
          padding: 0.6rem;
          font-size: 0.7rem;
        }

        padding-bottom: 1rem;
        flex-flow: column;
        display: flex;
        width: 100%;
      }
    }

    
  }
}

.img-logo {
  margin-top: 2rem;
}

.landing-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto !important;
  margin-top: 6rem;

  .img-landing {
    width: 100%;
    @include phone {
      max-width: 310px !important;
    }
  }
  .contenedor {
    width: 100%;

    //border: 1px solid red;
    display: flex;
    flex-flow: row;
    max-width: 1080px;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 1rem;
    @include tablet {
      flex-flow: column;
    }
    .left {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-around;

      .horarios {
        font-size: 1.2rem;
        padding: 1rem;
        list-style-type: none;
        list-style: none;
        span {
          color: $app-2;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      .img-hero {
        width: 100%;
        @include phone {
          max-width: 320px !important;
        }
      }
    }
  }
  .savethedate {
    font-weight: bold;
    text-align: center;
    line-height: 1.8;
    h2,
    p {
      font-weight: bold;
      margin: 0 !important;
    }
  }
}

.animation-in {
  transition: all 0.3s ease;
}
footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  hr {
    margin-top: 1rem;
    border: 1px solid white !important;
    width: 320px;
  }
  p {
    margin: 1rem 0 5% 0 !important;
  }
}
.idiomas {
  position: relative;
  top: 0 !important;
  margin: auto;

  @include phone {
    .btn-lang {
      font-size: 18px;
    }
    position: relative;
    right: auto;
  }
}

.sala {
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .contenedor {
    margin-top: 7rem;
    width: 100%;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    max-width: 1080px;
    box-sizing: border-box;

    iframe {
      width: 100% !important;
      max-width: 1080px !important;
      position: relative;
      box-sizing: border-box;
    }
    .video {
      position: relative;
      height: auto;
      width: 1080px;
    }

    .chat {
      border: none;
      padding: 1rem;
      overflow: visible;
      width: 50vw !important;
      height: 400px !important;
      @include phone {
        width: 100% !important;
      }
    }
  }
}

.disapear,
a {
  color: transparent !important;
}

.vp-sidedock {
  display: none !important;
}

.imparables {
  margin-top: 2rem;
  text-align: center;
  p {
    font-size: 2rem;
  }
  h3 {
    color: $app-2;
    margin: none !important;
  }
}

.actividades {
  //border: 1px solid red;
  margin: auto;
  display: grid;
  max-width: 1080px;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  span {
    font-size: 4rem;
    font-weight: bold;
    color: $app-2;
  }
  @include tablet{
    margin:auto !important;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  }
  @include phone{ 
    grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  }
}

.imparables {
  display: flex !important;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .contenedor-ponentes {
    max-width: 1080px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    gap: 1rem;
    @include phone{
      grid-template-columns: auto;
    }
    .ponente {
      display: flex !important;
      flex-flow: column;
      min-width: 220px;
      p {
        font-size: 1.2rem !important;
      }
      &:hover {
        cursor: pointer;
      }

      small,
      .small {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 11px;
        max-width: 800px;
        font-weight: lighter !important;
        text-align: center !important;
      }
    }
  }
}
.contenedor-video {
  width: 100%;
}

.contenedor-botones {
  display: flex !important;
  //border: 1px solid red;
  max-width: 1080px;
  width: 100%;
  a { margin: auto;
    padding: 1rem;
  }
  @include phone{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    
  }
}

.botones-salas {
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  
}

.sibling-fade {
  visibility: hidden;

  > * {
    visibility: visible;
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
  }

  &:hover > * {
    opacity: 0.4;
    transform: scale(0.9);
    z-index: 0;
  }

  > *:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
    position: relative;
  }
}

.contenedor-ponenetes {
  position: relative;
  display: flex;
  height: 100%;
}

.sibling-fade {
  display: flex;
  flex-wrap: wrap;
}

.sibling-fade > * {
  padding: 1em;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: $app-2;
  font-size: 1.5em;
  text-decoration: none;
  position: relative;
  small {
    font-size: 0.7rem;
    color: #fff !important;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #fecf005e !important;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $app-1 !important;
  background-clip: padding-box;

  border-radius: 0.3rem;
  outline: 0;
  @include phone {
    max-width: 320px;

    margin: 1rem;
    font-size: 0.4rem !important;
    overflow: scroll;
  }
}

#JotFormIFrame-212609285006048 {
  box-sizing: border-box;
  min-height: 80vh !important;
  height: auto !important;
  @include phone {
    min-height: 159vh !important;
  }
}

.contenedor-formulario {

  background-color: #fed100;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;

  @include phone{
    width: 300px;

  }
}

.label-group {
  display: flex;
  @include phone {
    
      flex-flow: column;
      display: flex;
  
  }
}

.scrollTop {
  position: relative;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  margin-top: 4rem;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.ponencia-especial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 900px;
  padding: 1rem;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include phone{
    flex-flow: column-reverse;
  }
  .texto {
    h3 {
      color: #fed100;
      font-size: 2.5rem;
      font-weight: bold;
      margin: none !important;
      line-height: 0.6 !important;
    }
    .ponente {
      font-size: 2.8rem;
      line-height: 0.9 !important;
    }
  }
  .imagen {
    margin-bottom: 1rem;
    display: flex;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.horarios {
  font-size: 1.2rem;
  padding: 1rem;
  list-style-type: none;
  list-style: none;
  span {
    color: $app-2;
  }
}



.form-footer {
  display: none !important;
}

.form-line {
  margin-top: 12px !important;
  margin-bottom: -30px !important;
}

.dudas {
  text-align: center;
  margin-top: 2rem;
 

  .contenedor-personal {
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    text-align: center !important; 
    .col {
      padding: 1rem;
      width: 320px;
      margin: 1rem;
      background-color: #1b1464;
    }
    @include phone{
      flex-flow: column;
      padding: 0rem;
    }
  }
}

.form-line {
  padding: 3px 36px !important;
}
.contacto{
  text-align: center;
}

.modal-header{
  color:white !important;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  max-width: 600px;
  margin: auto;}