

@import "libs/mixins";
@import "libs/variables";
@import "libs/type";
@import "components/navbar";
*{margin: 0;
padding:0;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
body{
  background-color:#020032 ;
  background-image:url("/img/background-star.png");
  background-position:top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;

}

.App{
  color:black;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow: column;

}

section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-sizing: border-box;
  padding: 1rem;
}
.start{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-sizing: border-box;
  padding: 1rem;

}
.img-hero{
  width: 100%;
  height:auto;
  max-width: 542px;
}
.btn-primary{
  cursor: pointer;
  border: none;
  border-radius:1rem;
  background-color:#020032 ;
  text-transform: uppercase;
  padding:1rem;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #FED100;
  transition: all 0.2s ease-in-out;
  &:hover{
    background-color: #1B1464;
    color:#fff;
  }
}

.contador{
  display:flex;
  align-items: center;
  justify-content: center;
  
  .contenedor-contador{
    display: flex;
    align-items: center;
    justify-content: center;
    .col{
      p{
        font-weight: bold;
        font-size: 4.5rem;
        color: #FED100;
        margin-bottom: -8px!important;
      }
      text-align: center;
      padding: 0.7rem;
      display: flex;
      flex-flow: column;
      color:#fff;
      text-transform: uppercase;
    }
  }
}

